<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="File" class="org.apache.log4j.RollingFileAppender">
        <param name="encoding" value="utf-8"/>
        <param name="File" value="${catalina.home}/logs/nebula.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="512MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p %l [%t] - %m%n"/>
        </layout>
    </appender>


    <category name="org.nebula.framework.client">
        <level value="INFO"/>
        <appender-ref ref="File"/>
    </category>

    <category name="org.nebula.framework.workflow">
        <level value="INFO"/>
        <appender-ref ref="File"/>
    </category>

    <category name="org.nebula.framework.activity">
        <level value="INFO"/>
        <appender-ref ref="File"/>
    </category>

    <root>
        <level value="INFO"/>
        <appender-ref ref="File"/>
    </root>

</log4j:configuration>
