<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.2.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- HTTP basic authentication in Spring Security -->
    <http>
        <intercept-url pattern="/**" access="ROLE_USER"/>
        <http-basic/>
    </http>

    <authentication-manager>
        <authentication-provider ref="nebulaAuthenticationProvider"/>
    </authentication-manager>

</beans:beans>